






/*START OF CGI PAGE STYLES*/


@media only screen and (max-width: 1100px){

  .cgiWorkSection{

    border: 2px dotted white;
    align-items: center;

    margin-left: 30px;
    margin-right: 30px;

    margin-top: 2%;

  }

  .cgiWorkSectionHeadingBox{

    width: 60%;

    font-family: Helvetica;

    border: 2px solid green;
    text-align: center;

    background: repeating-linear-gradient(45deg, #e8e8e8, #e8e8e8 10px, #c40000 10px, #c40000 20px);
    align-items: center;


    display: block;
    margin: auto;
    margin-top: 10px;


  }

  .cgiWorkSection h2{
    width: 80%;
    font-family: Helvetica;
    color: #00ff11;
    border: 2px solid green;
    text-align: center;
    margin-left: 4vh;
    background: black;
  }


  .cgiWorkSectionPictures{

    display: flex;
    flex-flow: column;
    margin-left: 2vh;
    margin-right: 2vh;


  }



  .cgiWorkSectionPictures img{
    width: 100%;
    margin: 1vh;
    border: 0.2vh solid #7200ab;

  }



}


@media only screen and (min-width: 1100px){

  .cgiWorkSection{

    border: 2px dotted white;
    display: flex;

    margin-left: 30px;
    margin-right: 30px;

    margin-top: 2%;
    flex-direction: column;
    align-items: center;


    max-width: 100%;

    padding-bottom: 1%;

  }



  .cgiWorkSectionHeadingBox{

    width: 60%;

    font-family: Helvetica;

    border: 2px solid green;

    margin-left: 12vh;
    background: repeating-linear-gradient(45deg, #e8e8e8, #e8e8e8 10px, #c40000 10px, #c40000 20px);
    display: inline-block;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;


  }

  .cgiWorkSection h2{
    width: 88%;
    font-family: Helvetica;
    color: #00ff11;
    border: 2px solid green;
    text-align: center;
    margin-left: 4vh;
    background: black;
  }




  .cgiWorkSectionPictures{

    display: grid;


    grid-template-columns: repeat(2, 80vh);
    margin-left: 2vh;
    margin-right: 2vh;
    grid-gap: 2vh;


  }



  .cgiWorkSectionPictures img{

    width: auto;
    height: auto;

    max-width: 100%;


    max-height: 100%;

    margin: 2px;



    border: 0.2vh solid #7200ab;

  }


}

/*END OF CGI PAGE STYLES*/
